@use "@/global/variables" as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-sm;
  margin-top: $spacing-m;
}

.pageInfo {
  font-weight: $font-weight-medium;
}
