@use "@/global/variables" as *;

.formArea {
  margin: 2rem 0;

  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .formGroup {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:focus {
          outline: none;
          border-color: $primary-color;
        }
      }
    }

    .error {
      color: red;
      font-size: 0.9rem;
    }

  }
}

.switchMode {
  text-align: center;
  margin-top: 1rem;

  span {
    color: $primary-color;
    cursor: pointer;
    font-weight: $font-weight-bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
