@use "@/global/styles/variables" as *;

.homepage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px); // Adjusted to prevent extra scroll
  background-color: $secondary-color;
  position: relative;
  background-image: url('/images/hero_phone.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.homepage-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-m;
}

.homepage-button {
  padding: $spacing-sm $spacing-lg;
  background-color: $white;
  color: $text-color;
  font-weight: $font-weight-bold;
  border-radius: $spacing-xs;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $light-gray;
  }
}
